* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #1F2328;
}
.image {
    width: 60px;
    margin: 0 auto;
}
.image img {
    width: 100%;
    margin-top:30px;
}
h2 {
    width: 300px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
}
form {
    width: 300px;
    margin: 16px auto;
    border: 2px solid #D8DEE4;
    border-radius: 8px;
    background-color: #F6F8FA;
    font-size: 16px;
    padding: 15px;
}
form label, form input {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 98%;
    border-radius: 6px;
    line-height: 31px; 
}
input:focus {
    border: 1px solid blue;
}
input[type="text"],
input[type="number"] {
    border: 1px solid #D8DEE4;
    padding-left: 5px;
}
input[type="submit"] {
    border: 1px solid rgba(31,35,40,0.15);
    background-color: #1F883D;
    color: white;
    font-weight: 500;
    width: 101%;
}
#resposta,
#resposta_erro {
    border-radius: 6px;
    text-align: center;
    color: black;
    width: 330px;
    padding: 15px 0px;
    margin: 0 auto;
}
#resposta {
    background-color: rgb(192, 238, 192);
    border: 2px solid rgba(31,35,40,0.15);
}
#resposta_erro {
    background-color: #ffebe9;
    border: 2px solid rgba(255,129,130,0.4);
}
#sexo,
#estadoCivil {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #D8DEE4;
    height: 30px;
}
.enunciado {
    width: 50%;
    height: auto;
    border-radius: 6px;
    border: 1px solid #D8DEE4;
    padding: 20px;
    margin: 20px auto;
}
.enunciado p {
    margin-bottom: 10px;
    text-align: justify;
}
#resposta_div {
    background-color: rgb(192, 238, 192);
    border: 2px solid rgba(31,35,40,0.15);
    border-radius: 6px;
    text-align: center;
    color: black;
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}